<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clothing  App</title>
  </head>
  <body>
    <a href="/clothes">Browse all clothes</a>
    <h1>Welcome to the Clothing app!</h1>
    <p>An app for collecting your favorite clothes.</p>
  </body>
</html>