<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clothes Index</title>
  </head>
  <body>
    <a href="/clothes/new">Add New Clothes Item</a>
    <h1>All clothes </h1>
    <ul>
        <% clothes.forEach(cloth => { %>
          <li>
            <a href="/clothes/<%= cloth._id %>"><%= cloth.name %></a>
          </li>
        <% }); %>
      </ul>

  </body>
</html>